

@media (max-width:640px){
    .search{
        display: none;
    }
    .emp{
        display: none;
    }
}

@media (max-width:1000px){
    .sug{
        display: none;
    }
}
.pp{
    width: 32px;
    height: 32px;
}